*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.conteiner-web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}


/* header */

header{
    display: flex;
    justify-content: flex-end; 
    flex-basis: 2%;
}

.svg-header{
    width: 10px;
    fill: white;
}

.speaker-view{
    padding: 5px 5px;
    margin: 0 3px;
    border-radius: 8px;
    background-color: rgb(61, 60, 60);
    color: white;
    font-size: 12px ;
}

/* main */
main{
    flex-basis: 80%; 
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
}

.card-video{
    flex-basis: 14%;
    position: relative;   
}

.card-video img{
    width: 100%;
    height: 120px;
    object-fit:cover;
    
}

.audio{
    padding: 3px 3px;
    background-color: rgba(47, 38, 38, 0.2);
    width: 50%;
    position: absolute;
    bottom: 3px;
    left: 0;
    font-size: 12px;
}

.svg-video{
    width: 14px;
    fill: white;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 7%;
    background-color: rgb(61, 60, 60);
}

.ft-sx{
    flex-basis: 18%;
    display: flex;
}

.ft-cn{
    flex-basis: 60%;
    display: flex;
}

.button{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0  10px ;    
}

.svg-footer{
    width: 20px;
    fill: white;
    align-items: center;
}

.svg-footer-green{
    width: 24px;
    fill: green;
    align-items: center;
}

.svg-cam{
    width: 28px;
    fill: white;
    align-items: center;
}

.svg-selection{
        width: 10px;
        fill: white;}    

p{
    color: white;
    font-size: 12px;
    margin: 5px 0;
}

.end-mt{    
    color: red;
}

.ft-dx{
    justify-content: center;
    background-color: gray;
    height: 100%;
    align-items: center;
    flex-basis: 8%;
    display: flex;
}



